* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.app-container{
    color:rgb(49, 49, 133);
    background-color: black;
    min-height: 100vh
}
  

.loader {
    position: absolute;
    width: 200px;
    height: 200px;
    background: linear-gradient(
      0deg,
      black 40%,  /* Change this to black */
      rgb(107, 1, 1) 100%  /* Change this to orange */
    );
    border-radius: 50%;
    animation: rotate 3s linear infinite;
  }
  
  .loader:before {
    content: "";
    position: absolute;
    inset: 20px 20px 0 0;
    background: #010d15;
    border-radius: 50%;
  }
  
  .loader:after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background: #51eeee;
    border-radius: 50%;
    top: 50px;
    right: -8px;
    box-shadow: 0 0 5px #51eeee, 0 0 25px #51eeee, 0 0 50px #51eeee,
      0 0 75px #51eeee;
  }
  .sensor-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .row {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 50px;
  }
  
  .sensor-data-container {
    position: relative;
    width: 150px;
    height: 150px;
  }
  
  .sensor-data-text {
    color:rgb(215, 38, 38);
    position: absolute;
    top: 70%;
    left: 70%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2; /* Ensure text is above the loader */
  }
  
  
  
  
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  